/* kana's override css -- START */

/* GENERAL -- START */

.btn-fill-light {
    background: white;
    border-radius: 100px;
    padding: 10px 25px;
    color: #2b2b2b;
    text-transform: uppercase;
    font-size: 13px;
}

.btn-outline-kana {
    background: #2b2b2b;
    color: white;
    border-radius: 25px;
    padding: 10px 25px;
}

.kana-form label {
    font-weight: 600;
    font-size: 12px;
    color: #2b2b2b;
}

.kana-form input {
    background: white;
    border: 1px solid #c8c8c8;
    border-radius: 0;
    box-sizing: border-box;
    color: #2b2b2b;
    font-size: 14px;
    padding: 12px 20px;
}

.kana-form .forgot {
    color: #2b2b2b;
    font-size: 12px;
}

.btn-outline {
    background: white;
    border-radius: 100px;
    padding: 10px 25px;
    color: #2b2b2b;
}

.btn-outline.socmed {
    font-size: 13px;
    letter-spacing: .15em;
}

/* GENERAL -- END */

/* Header Top Light -- START */
.header-top-light {
    background: #f1f1f1;
    box-shadow: 0px 1px 0px #E4E4E4;
}

.header-top-light .nav-link {
    font-size: 12px;
    line-height: 15px;
    color: #858585;
}
/* Header Top Light -- END */

/* Header Main -- START */
.header-main {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
}

.header-main .navbar-main .nav-link {
    font-size: 13px;
    color: #2b2b2b;
}

.header-main .navbar-main .nav-item .dropdown-menu .row ul {
    list-style: none;
    padding-left: 0;
}

.header-main .navbar-main .nav-item .dropdown-menu .dropdown-item {
    color: #2b2b2b;
    font-size: 12px;
}

.header-main .navbar-main .nav-item .dropdown-menu .dropdown-item.title {
    font-weight: 600;
}

@media only screen and (max-width: 719px) {
    .header-main .navbar-main .navbar-collapse {
        position: absolute;
        top: 100%;
        background: white;
        z-index: 100;
        width: 100vw;
        height: 100vh !important;
        left: 0;
        padding: 15px;
        overflow-y: scroll;
    }

    .header-main .navbar-main .nav-item .dropdown-menu {
        border: none;
        padding-top: 0;
    }

    .header-main .navbar-main .nav-item .dropdown-menu .dropdown-item {
        display: none;
    }

    .header-main .navbar-main .nav-item .dropdown-menu .dropdown-item.title {
        display: block;
        color: #adadad;
        font-weight: normal;
    }

    .header-main .navbar-main .nav-item .dropdown-menu .dropdown-item.title:hover {
        color: #2b2b2b;
    }
}


@media only screen and (min-width: 720px) {
    .header-main .navbar-main .nav-item .dropdown-menu {
        top: 130%;
        background: #fff;
        border-radius: 0;
        border: 1px solid rgba(0, 0, 0, 0.05);
    }

    .header-main .navbar-main .nav-item .dropdown-menu .row {
        width: 1200px !important;
    }
}

.header-main .search i {
    position: absolute;
}

.header-main .search .icon {
    padding: 10px;
    min-width: 50px;
    z-index: 9;
    color: #adadad;
}

.header-main .search input {
    background: #fff;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    border-radius: 100px !important;
    font-size: 13px;
    padding-left: 30px;
}

.header-main .search input:focus {
    box-shadow: none;
}

@media only screen and (max-width: 719px) {
    .header-main .search input {
        border: 0;
        border-bottom: 1px solid #c8c8c8;
        border-radius: 0 !important;
    }
}

.header-main .search input::placeholder {
    color: #a0a0a0;
}
/* Header Main -- END */

/* Home - START */

#mainCarousel .carousel-caption {
    left: 10%;
    top: 20%;
}

#mainCarousel .carousel-caption h2 {
    color: white;
    font-weight: 200;
    font-size: 50px;
    line-height: 58px;
}

.benefit-banner p {
    font-size: 16px;
    color: #2b2b2b;
}

.home-kana h3.section-title {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: #2b2b2b;
}

.home-kana .card-highlight {
    border-radius: 0;
    border: none;
}

.home-kana .card-highlight .card-img {
    border-radius: 0;
}

.home-kana .card-highlight .card-img-overlay {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.home-kana .card-highlight .card-img-overlay h5.card-title {
    font-size: 28px;
    font-weight: 300;
    padding: 0 45px;
}

.home-kana .card-highlight .card-img-overlay .btn {
    font-size: 12px;
}

.home-kana .card-highlight.overlay-gradient:before {
    background: #2b2b2b;
    transition: none;
}

.home-kana .card-highlight.overlay-gradient:hover:before {
    opacity: 0.6;
}

.home-kana .bottom-right-wrapper {
    background: #2b2b2b;
    position: relative;
}

.home-kana .bottom-right-wrapper .bottom-right-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 30px;
    width: 75%;
}

.home-kana .bottom-right-wrapper .bottom-right-content h4 {
    width: 60%;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
}

.home-kana .bottom-right-wrapper .bottom-right-content p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

.home-kana .bottom-right-wrapper .bottom-right-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.home-kana .bottom-right-wrapper .bottom-right-content ul li {
    font-size: 12px;
    margin-right: 8px;
    display: inline-block;
}

.home-kana .bottom-right-wrapper .bottom-right-content ul li a {
    color: white;
}

@media only screen and (max-width: 719px) {
    .home-kana .bottom-right-wrapper .bottom-right-content {
        position: relative;
        width: 90%;
    }

    .home-kana .bottom-right-wrapper .bottom-right-content h4 {
        width: 80%;
    }

    .home-kana .bottom-banner h5 {
        padding: 0;
    }

    .home-kana .bottom-banner p {
        width: 100% !important;
    }

    .home-kana .card-highlight .card-img-overlay {
        top: 40%;
    }
}

/* Home - END */

/* Product Category -- START */

@media only screen and (max-width: 719px) {
    .product-category .scrolling-wrapper {
        overflow-x: auto;
        white-space: nowrap;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        display: block;
    }

    .product-category .scrolling-wrapper::-webkit-scrollbar {
        display: none;
    }

    .product-category .scrolling-wrapper .col {
        display: inline-block;
        width: fit-content;
        vertical-align: top;
    }
}

.product-category .card-product-grid.card {
    border: none;
    border-radius: 0;
    display: inline-block;
}

.product-category .card-product-grid.card:hover {
    transition: 0;
    box-shadow: initial;
}

.product-category .card-product-grid .img-wrap {
    height: initial;
    position: relative;
}

.product-category .card-product-grid .img-wrap h3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 3%;
    font-size: 14px;
    line-height: 18px;
    color: #2b2b2b;
}

/* Product Category -- END */

/* Product List -- START */

.sort-products {
    border: 0;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
}

.product-list h2 {
    font-size: 24px;
    color: #2b2b2b;
    font-weight: 300;
}

.product-list .card-product-grid, .product-card {
    border: none;
    padding: 0;
    border-radius: 0;
    position: relative;
    padding-bottom: 50px;
}

.product-list .card-product-grid:hover, .product-card:hover {
    box-shadow: none;
    transform: unset;
}

.product-list .card-product-grid .img-wrap, .product-card .img-wrap {
    border-radius: 0;
    height: 250px;
}

.product-list .card-product-grid .img-wrap img, .product-card .img-wrap img {
    width: 100%;
}

.product-list .card-product-grid .img-wrap .wishlist .wishlist-container, .product-card .img-wrap .wishlist .wishlist-container {
    border-radius: 100%;
    padding: 2px 5px 0px;
    background: white;
}

.product-list .card-product-grid .img-wrap .wishlist .wishlist-container:hover, .product-card .img-wrap .wishlist .wishlist-container:hover {
    color: #2b2b2b;
}

.product-list .card-product-grid .img-wrap .wishlist .wishlist-container i, .product-card .img-wrap .wishlist .wishlist-container i {
    font-size: 13px;
}

.product-list .card-product-grid figcaption, .product-card figcaption {
    color: #2b2b2b;
    font-size: 14px;
    line-height: 18px;
}

.product-list .card-product-grid figcaption .desc, .product-card figcaption .desc {
    font-size: 12px;
    font-weight: 300;
    color: #6a6a6a;
    margin-bottom: 10px;
}

.product-list .card-product-grid figcaption .title, .product-card figcaption .title {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
}

.product-list .card-product-grid .color-option ul, .color-option ul, .product-card .color-option ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.product-list .card-product-grid .color-option ul li, .color-option ul li, .product-card .color-option ul li {
    border-radius: 100%;
    padding: 4px 5px;
    display: inline-block;
    cursor: pointer;
}

.product-list .card-product-grid .color-option ul li.active, .color-option ul li.active, .product-card .color-option ul li.active {
    border: 1px solid #2b2b2b;
}

.product-list .card-product-grid .color-option ul li img, .color-option ul li img, .product-card .color-option ul li img {
    width: 18px;
    height: 18px;
}

.product-list .card-product-grid .color-option ul li .color-item, .color-option ul li .color-item, .product-card .color-option ul li .color-item {
    width: 18px;
    height: 18px;
}

.product-list .card-product-grid .bottom-wrap, .product-card .bottom-wrap {
    border-top: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.product-list .card-product-grid .bottom-wrap .btn, .btn-outline-kana, .product-card .bottom-wrap .btn {
    border-radius: 50px;
    font-size: 12px;
    text-transform: uppercase;
}

.product-list .card-product-grid .bottom-wrap .btn img, .btn-outline-kana img, .product-card .bottom-wrap .btn img {
    vertical-align: sub;
    margin-left: 5px;
}

.product-list .card-product-grid .bottom-wrap p, .product-card .bottom-wrap p {
    font-size: 12px;
    color: #2b2b2b;
}

.product-list .card-product-grid .bottom-wrap .size-options, .size-options, .product-card .bottom-wrap .size-options {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin: 5px 0 0;
}

.product-list .card-product-grid .bottom-wrap .size-options .type, .size-options .type, .product-card .bottom-wrap .size-options .type {
    display: inline-block;
    font-size: 14px;
    color: #2b2b2b;
    cursor: pointer;
    padding: 3px 6px;
    margin-right: 8px;
}

.product-list .card-product-grid .bottom-wrap .size-options .type.active, .size-options .type.active, .product-card .bottom-wrap .size-options .type.active {
    border-radius: 100%;
    color: white;
    background: #2b2b2b;
}

.product-list .filter-list {
    border: 0;
}

.product-list .filter-list h6, .product-list .filter-list i.icon-control {
    font-size: 16px;
    color: #2b2b2b;
}

.product-list .filter-list .custom-control-label {
    font-size: 14px;
    color: #2b2b2b;
}

.product-list .filter-list .pricing .checkbox-btn .btn {
    border-radius: 16px;
    border: 1px solid #2b2b2b;
    box-sizing: border-box;
    width: 76px;
    font-size: 14px;
}

.product-list .filter-list .pricing .checkbox-btn input:checked ~ .btn {
    background: #2b2b2b;
}

.product-list .filter-list .colors .color-wrap {
    cursor: pointer;
    display: inline-block;
    margin: 2px 5px;
}

.product-list .filter-list .colors .color-wrap.big {
    height: 40px;
    width: 40px;
    padding: 4px;
}

.product-list .filter-list .colors .color-wrap.big .color-item {
    height: 30px;
    width: 30px;
}

.product-list .filter-list .colors .color-wrap img {
    padding: 3px;
    border-radius: 100%;
}

.product-list .filter-list .colors .color-wrap.active img {
    border: 1px solid #2b2b2b;
}

.product-list .filter-list .colors .color-wrap.big.active {
    border: 1px solid #2b2b2b;
    border-radius: 100%;
}

.product-list .filter-list .list-category {
    list-style: none;
}

.product-list .filter-list .list-category li a {
    font-size: 14px;
    color: #2b2b2b;
    font-weight: 300;
}

.product-list .filter-list .list-category li.selected a, .product-list .filter-list .list-category li:hover a {
    font-weight: 600;
}

.product-list .filter-list .list-subcategory {
    list-style: none;
    padding-left: 20px;
}

.product-list .filter-list .list-subcategory li a {
    font-size: 12px;
    font-weight: 300 !important;
}

.product-list .filter-list .list-subcategory li.selected a {
    font-weight: 600 !important;
}

/* Product List -- END */

/* Product DETAIL -- START */

.product-detail .gallery-wrap .thumbs-wrap img {
    border-radius: 0;
}

.product-detail .gallery-wrap .thumbs-wrap img:hover {
    border: 2px solid #2b2b2b;
}

.product-detail .title {
    font-size: 26px;
    color: #2b2b2b;
    line-height: 33px;
    font-weight: 300;
}

.product-detail .product-category {
    font-size: 13px;
    line-height: 16px;
    color: #6a6a6a;
}

.product-detail .price {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: normal;
    color: #2B2B2B;
}

.product-detail .btn-outline {
    border-radius: 50px;
    font-size: 12px;
    text-transform: uppercase;
    border-color: #c1c1c1;
}

.product-detail h6 {
    font-size: 14px;
    font-weight: 500;
}

.product-detail p.text-warning {
    font-size: 14px;
}

.product-detail .purchase-amount {
    background: #f1f1f1;
    border: none;
    border-radius: 0;
}

.product-detail .product-detail-desc .list-group .list-group-item {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 0;
    padding: 20px 0;
}

.product-detail .product-detail-desc .list-group .list-group-item:first-child {
    border-top: 1px solid #c8c8c8;
}

.product-detail .product-detail-desc .list-group .list-group-item h6, .product-detail .product-detail-desc .list-group .list-group-item i {
    font-size: 20px;
    color: #2b2b2b;
}

.product-detail .product-detail-desc .list-group .list-group-item p {
    font-size: 16px;
    color: #6a6a6a;
}

.product-detail .product-detail-desc .dimension img {
    width: 100%;
}

.product-detail .product-detail-desc .dimension ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.product-detail .product-detail-desc .dimension ul li {
    font-size: 13px;
    color: #2b2b2b;
}

.product-detail .product-detail-desc .tags button {
    border-radius: 12px;
    border: .5px solid #c1c1c1;
    font-size: 10px;
    padding: 5px 15px;
}

.product-detail .product-detail-desc .reviews-section h3 {
    font-size: 20px;
    color: #2b2b2b;
    font-weight: normal;
}

.product-detail .product-detail-desc .reviews-section .label-rating {
    font-size: 14px;
    color: #2b2b2b;
}

.product-detail .product-detail-desc .review-item h6 {
    font-size: 18px;
    color: #2b2b2b;
    font-weight: normal;
}

.product-detail .product-detail-desc .review-item p {
    color: #6a6a6a;
    font-size: 14px;
    font-weight: 300;
}

.product-detail .product-detail-desc .review-item p.title {
    font-size: 16px;
    color: #2b2b2b;
    font-weight: normal;
    margin-bottom: 10px;
}

.product-detail .product-detail-desc .review-item .date {
    font-size: 12px;
    color: #6a6a6a;
    font-weight: normal;
}

.product-detail .product-detail-desc .review-item .review-photo img {
    display: inline-block;
    margin-right: 15px;
    border: 1px dashed #c4c4c4;
    border-radius: 4px;
    height: 60px;
    width: 60px;
}

/* Product DETAIL -- END */

/* Other Products -- START */

.grid-product h2 {
    font-size: 20px;
    color: #2b2b2b;
    font-weight: normal;
}

@media only screen and (max-width: 719px) {
    .product-category .card-product-grid.card {
        display: block;
        width: 60vw;
    }

    .product-card figcaption {
        white-space: initial;
    }
}

/* Other Products -- END */

/* Add To Cart Modal -- START */

#addToCart .modal-content {
    border-radius: 0;
}

#addToCart .modal-header {
    background: #2b2b2b;
    text-align: center;
    color: white;
    border-radius: 0;
}

#addToCart .modal-header h5 {
    font-size: 16px;
    font-weight: normal;
    width: 100%;
}

#addToCart .modal-header .close {
    opacity: 1;
    color: white;
    text-shadow: none;
    font-weight: normal;
}

#addToCart .modal-body h3 {
    font-size: 20px;
}

#addToCart .modal-body h6, #addToCart .modal-body .text-warning {
    font-size: 12px;
}

#addToCart .modal-body .price {
    font-size: 14px;
}

#addToCart .modal-body .text-muted {
    font-size: 12px;
}

/* Add To Cart Modal -- END */

/* Pagination -- START */

.pagination {
    justify-content: center;
}

.pagination .page-item .page-link {
    color: #adadad;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    border: none;
    margin: 0 10px;
}

.pagination .page-item .page-link:hover {
    background: none;
}

.pagination .page-item.active .page-link {
    background: #2b2b2b;
    border-radius: 80px;
    color: white;
}

.pagination .page-item.page-prev-next {
    position: absolute;
}

.pagination .page-item.page-prev-next.prev {
    left: 0;
}

.pagination .page-item.page-prev-next.next {
    right: 0;
}

.pagination .page-item.page-prev-next.disabled .page-link {
    border: 2px solid #adadad;
    color: #adadad;
}

.pagination .page-item.page-prev-next .page-link {
    background: #FFFFFF;
    border: 2px solid #2B2B2B;
    color: #2b2b2b;
    box-sizing: border-box;
    border-radius: 80px;
}

/* Pagination -- END */

/* Login Register Modal -- START */

#loginModal, #registerModal, #loginModal .modal-content, #registerModal .modal-content {
    border-radius: 0;
}

#loginModal .modal-body, #registerModal .modal-body {
    padding: 0;
}

#loginModal .modal-body h4, #registerModal .modal-body h4 {
    font-size: 20px;
    color: #2b2b2b;
    font-weight: 300;
}

#loginModal .modal-body p, #registerModal .modal-body p, #loginModal .modal-body p a, #registerModal .modal-body p a {
    font-size: 14px;
    color: #6a6a6a;
    font-weight: 300;
}

#loginModal .modal-body p a, #registerModal .modal-body p a {
    text-decoration: underline;
}

#loginModal .modal-body .text-separator, #registerModal .modal-body .text-separator {
    font-size: 10px;
    color: #909090;
}

/* Login Register Modal -- END */

/* Shopping Cart -- START */

.shopping-cart .title-page {
    font-size: 24px;
    font-weight: 300;
    color: #2b2b2b;
}

.shopping-cart-list .cart-item {
    border-bottom: 1px solid #d8d8d8;
    position: relative;
    padding: 30px 0;
}

.shopping-cart-list .cart-item:last-child {
    border-bottom: none;
}

.shopping-cart-list .cart-item h3 {
    font-size: 20px;
    font-weight: 300;
    color: #2b2b2b;
}

.shopping-cart-list .cart-item .category {
    font-size: 13px;
    font-weight: normal;
    color: #6a6a6a;
    line-height: 25px;
}

.shopping-cart-list .cart-item p {
    font-size: 12px;
    color: #2b2b2b;
    line-height: 10px;
}

.shopping-cart-list .cart-item p span {
    display: block;
    margin-top: 14px;
}

.shopping-cart-list .cart-item .price {
    font-weight: normal;
    font-size: 16px;
    color: #2b2b2b;
    letter-spacing: -.01em;
}

.shopping-cart-list .cart-item .delete-cart {
    position: absolute;
    top: 20px;
    right: 0;
}

.shopping-cart-list .cart-item .input-spinner {
    position: absolute;
    bottom: 30px;
    right: 0;
    width: fit-content;
    padding-right: 15px;
}

.shopping-cart-list .cart-item .input-spinner button {
    background: #FFFFFF;
    border: 1.5px solid #2B2B2B;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    padding: 0;
}

.shopping-cart-list .cart-item .input-spinner button.disabled {
    background: #f1f1f1;
    border: none;
}

.shopping-cart-list .cart-item .input-spinner button i {
    color: #2b2b2b;
    font-size: 12px;
}

.shopping-cart-list .cart-item .input-spinner input {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
}

@media only screen and (max-width: 719px) {
    .shopping-cart-list .cart-item {
        padding-bottom: 50px;
    }

    .shopping-cart-list .cart-item p span {
        display: inline-block;
        margin: 0px 0 15px;
    }

    .shopping-cart-list .cart-item .delete-cart {
        bottom: 0;
        right: 0;
        top: inherit;
    }

    .shopping-cart-list .cart-item .input-spinner {
        bottom: 10px;
        left: 10px;
    }
}

#deleteCartItem .modal-content {
    border-radius: 0;
}

#deleteCartItem .modal-content .title {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding: 20px 45px;
}

#deleteCartItem .modal-content .icon-cart {
    width: 80px;
    height: 80px;
    background: #2b2b2b;
    text-align: center;
    position: relative;
}

#deleteCartItem .modal-content .icon-cart img {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 23px;
}

.order-summary {
    background: #fafafa;
    font-weight: 300;
    font-size: 13px;
    color: #2b2b2b;
    border: none;
    border-radius: 0;
}

.order-summary .card-header {
    font-weight: normal;
    font-size: 16px;
    color: #2b2b2b;
    background: #fafafa;
    text-align: center;
}

.order-summary .dlist-align {
    padding: 5px 0;
}

.order-summary form label {
    font-size: 12px;
    font-weight: 600;
}

.order-summary form .input-group {
    position: relative;
}

.order-summary form .input-group input {
    background: #FFFFFF;
    border: 1px solid #C8C8C8;
    box-sizing: border-box;
    border-radius: 40px !important;
    padding: 15px 100px 15px 20px;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #2b2b2b;
    height: 44px;
}

.order-summary form .input-group input:focus {
    box-shadow: none;
    z-index: 0;
}

.order-summary form .input-group button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: fit-content;
    height: 75%;
    font-size: 12px;
    padding-top: 7px;
}

/* Shopping Cart -- END */

/* Footer -- START */
.footer-seo {
    background: white;
}

.footer-seo article {
    font-size: 14px;
    color: #adadad;
    line-height: 20px;
}

.footer-seo article h3 {
    color: #2b2b2b;
    font-size: 20px;
    line-height: 25px;
}

.section-footer {
    background: #f1f1f1;
    font-size: 12px;
    color: #474747;
}

.section-footer .title {
    font-size: 13px;
    font-weight: 600;
}

.section-footer li {
    line-height: 24px;
}

.section-footer .newsletter input {
    background: transparent;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    font-size: 12px;
}

@media only screen and (max-width: 719px) {
    .section-footer .newsletter input {
        width: 85%;
    }
}

.section-footer .footer-bottom a {
    color: #474747;
}

/* Footer -- END */

/* kana's override css -- END */